  {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/getrequest.js"></script>
  <script src="/js/postrequest.js"></script>
<style>
  .table-design {
    border-collapse: collapse;
    width: 100%;
  }
  .table-design td, .table-design th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .table-design tr:nth-child(even) {
    background-color: #dddddd;
  }
 .btn {
    margin-right: 23px;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px 0px;
    width: 88px;
    display: block;
    text-align: center;
    background-color: #1e282c;
    color: #fff;
    font-weight: 800
  }
  .btn-container {
    text-align: right;
    float: right
  }
.breadcrumb-container {
    background-color: #ddd;
    border-radius: 5px;
    padding: 8px;
    color: rgb(48, 42, 42);
  } 
  .clear-fix {
    clear: both;
  }
  .blog-title {
    background-color: #3c8dbc;
    color: #fff;
    padding: 10px;
  }
  .title-h2 {
    margin: 0px;
    padding: 0px;
  }
  .blog-desc {
    font-size: 16px;
    padding: 10px;
    text-align: justify;
  }
  .blog-footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 11px;
  }
  .util-btn {
    padding: 6px;
    cursor: pointer;
    color: #3c8dbc;
  }
  .blogs-container {
    width: 78%; 
  }
 .blog-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -3px 6px 19px 1px rgba(194,194,194,1);
    margin-bottom: 16px;
  } 
</style>
<section class="content-header">
  <div class="breadcrumb-container">
    <h3 style="margin: 0px">Blogs</h3>
  </div>

<div class="btn-container">
  <a class="btn" href="/blogs/add/">Add</a>
</div>
<div class="clear-fix"></div>

<div class="blogs-container">
  {{#each blogs}}
    <div class="blog-item">
      <div class="blog-title">
        <h2 class="title-h2">{{this.title}}</h2>
      </div>
      <div class="blog-desc">
        <p>{{this.description}}</p>
      </div>
      <div class="blog-footer">
        <div>
        </div>
        <div>
          <a href="/blogs/edit/{{this.id}}">Edit</a> &nbsp; 
          <a href="/blogs/delete/{{this.id}}">Delete</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
    
</section> --}}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
</head>
<style>
  .table-design {
    border-collapse: collapse;
    width: 100%;
  }
  .table-design td, .table-design th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .table-design tr:nth-child(even) {
    background-color: #dddddd;
  }
.btn {
    margin-right: 23px;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px 0px;
    width: 88px;
    display: block;
    text-align: center;
    background-color: darkgrey;
    color: #100606;
    font-weight: 800
  }
  .btn-container {
    text-align: right;
    float: right
  }
  .breadcrumb-container {
    background-color: #ddd;
    border-radius: 5px;
    padding: 8px;
    color: rgb(48, 42, 42);
  }
</style>
<section class="content-header">
  <div class="breadcrumb-container">
    <h3 style="margin: 0px">Blogs</h3>
  </div>

<div class="btn-container">
  <a class="btn" href="/blogs/add/">Add</a>
</div>
<table width="80%" border="0" class="table-design">
  <tbody>
    <tr style="text-align:left; background-color:#CCC">
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    {{#each blogs}}
     {{#.}}
    <tr>
      <td><li class="order{{@index}}">  
        {{math @index "+" 1}}</li>
{{/.}}</td>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>
        <div style="float:left">
          <a href="/blogs/edit/{{this.id}}">Edit</a> &nbsp;| &nbsp;
          <a href="/blogs/delete/{{this.id}}">Delete</a>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</section>



