<style>
  .table-design {
    border-collapse: collapse;
    width: 100%;
  }
  .table-design td, .table-design th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .table-design tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<section class="content-header">
  <h1>
    orders List
  </h1>
<p>Below you will see list of orders.</p>
<a style="border: 1px solid grey; padding: 10px; margin: 10px 0px; width: 88px; display: block; text-align: center; background-color: #1e282c; color: #fff; font-weight: 800" href="/orders/add/">Add</a>
<table width="80%" border="0" class="table-design">
  <tbody>
    <tr style="text-align:left; background-color:#CCC">
      <th>Categories</th>
      <th>Name</th>
      <th>Price</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    {{#each p}}
    <tr>
      <td>{{this.categories}}</td>
      <td>{{this.name}} </td>
      <td>{{this.price}}  </td>
       <td>{{this.date}} </td>
      <td>
        <div style="float:left">
          <a href="/p/edit/{{this.id}}">Edit</a> &nbsp; | &nbsp;
          <a href="/p/delete/{{this.id}}">Delete</a>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
