<style>
  .table-design {
    border-collapse: collapse;
    width: 100%;
  }
  .table-design td, .table-design th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .table-design tr:nth-child(even) {
    background-color: #dddddd;
  }
 .btn {
    margin-right: 23px;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px 0px;
    width: 88px;
    display: block;
    text-align: center;
    background-color: #1e282c;
    color: #fff;
    font-weight: 800
  }
  .btn-container {
    text-align: right;
    float: right
  }
  .breadcrumb-container {
    background-color: #ddd;
    border-radius: 5px;
    padding: 8px;
    color: #444;
  }
</style>
<section class="content-header">
  <div class="breadcrumb-container">
    <h3 style="margin: 0px">Orders</h3>
  </div>

<div class="btn-container">
  <a class="btn" href="/orders/add/">Add</a>
</div>
<table width="80%" border="0" class="table-design">
  <tbody>
    <tr style="text-align:left; background-color:#CCC">
      <th>#</th>
      <th>Products</th>
      <th>Categories</th>
      <th>Price</th>
      <th>Name</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th>Address</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    {{#each orders}}
     {{#.}}
    <tr>
      <td><li class="order{{@index}}">  
        {{math @index "+" 1}}</li>
{{/.}}</td>
      <td>{{this.products}}</td>
      <td>{{this.categories}}</td>
      <td>{{this.price}}  </td>
      <td>{{this.name}} </td>
      <td>{{this.email}} </td>
      <td>{{this.contactnumber}} </td>
      <td>{{this.address}} </td>
       <td>{{this.date}} </td>
      <td>
        <div style="float:left">
          <a href="/orders/edit/{{this.id}}">Edit</a> &nbsp; | &nbsp;
          <a href="/orders/delete/{{this.id}}">Delete</a>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
